<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/auth/login" method="post">
    <div>
      <label for="usuario">Usuario</label>
      <input type="text" name="usuario" id="usuario">
    </div>
    <div>
      <label for="passwd">Contraseña</label>
      <input type="text" name="passwd" id="passwd">
    </div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </form>
</body>
</html>